{% extends "Appcoder/padre.html" %}  {% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% block contenidoQueCambia %}
    <div align="center">
    <p class="fst-italic"><h1 class="fst-italic">About me</h1>
    <p>Bienvenido a mi página about me. Mi nombre es Tomás vivo en Uruguay.<br> Decidí hacer este curso de coder porque siempre me ha interesado la programación y quería ver si es algo que disfruto.<br> Ahora que ha llegado el día de entregar mi proyecto final puedo decir que definitivamente es algo que me gusta y de lo que quiero seguir aprendiendo en el futuro.<br> Espero que te guste mi proyecto.
    </div>
    {% endblock %}
</body>
</html>