<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head> {% extends "Appcoder/padre.html" %}  {% load static %}

<body>
    {% block contenidoQueCambia %} ESTE ES EL INICIO,
    busqueda visitantes: 
    <form action="/appcoder/forms.py/buscar" method="GET">
        {% csrf_token %} 

    <input type="text" name="nombre" id="nombre">
    <input type="submit" value="Buscar">

    </form>
    {%endblock%}
</body>
</html>